:root {
  --padding: 2vh;
  --button-height: 26px;
}

body {
  font-family: sans-serif;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

button,
label {
  cursor: pointer;
}

button {
  height: var(--button-height);
}

.app {
  display: grid;
  grid-template-areas:
    "header header"
    "controls output"
    "heatmap output";
  grid-gap: var(--padding);
}

.app__header {
  grid-area: header;
  display: flex;
  align-items: center;
  padding-left: var(--padding);
  height: 6vh;
  color: white;
  background-color: #222;
}

.app__header__title {
  font-size: 1.5em;
  margin: 0;
}

.app__heatmap__controls {
  grid-area: controls;
  margin-left: var(--padding);
  line-height: 30px;
}

.app__heatmap__controls label {
  display: block;
}

.app__heatmap__canvas {
  grid-area: heatmap;
  position: relative;
  margin-left: var(--padding);
  border: 2px solid #222;
}

.app__heatmap__json {
  grid-area: output;
  justify-self: end;
  margin-right: var(--padding);
  width: 400px;
  height: 90vh;
}

.app__heatmap__json textarea {
  font-family: monospace;
  font-size: 12px;
  outline: none;
  width: 100%;
  height: calc(100% - var(--button-height));
  resize: none;
  border: 2px solid #222;
}
